name: CI - Shared Library Abuse

on:
  push:
    branches:
      - main

jobs:
  test-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python Environment
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=." >> $GITHUB_ENV
        
      - name: Run tests
        run: 
          pytest

      - name: Run app
        run: |
          python app/main.py
