# name: Push auto-deploy

# on:
#   push:
#     branches:
#       - main

# jobs:
#   test:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Set up Python
#         uses: actions/setup-python@v4
#         with:
#           python-version: '3.10'

#       - name: Install dependencies
#         run: pip install -r requirements.txt

#       - name: Set PYTHONPATH
#         run: echo "PYTHONPATH=." >> $GITHUB_ENV
#       - name: Run tests
#         run: pytest

# name: Push manual-deploy

# on:
#   workflow_dispatch:
#     inputs:
#       environment:
#         required: true

# env:
#   DAY_OF_WEEK: Monday

# jobs:
#   log-the-inputs:
#     runs-on: ubuntu-latest
#     steps:
#       - run: |
#           echo "Environment: $ENVIRONMENT"
#         env:
#           ENVIRONMENT: ${{ inputs.environment }}

# name: Shared Library Abuse

# on:
#   push:
#     branches:
#       - main

# jobs:
#   run:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3

#       - uses: actions/setup-python@v4
#         with:
#           python-version: "3.10"

#       - name: Install dependencies
#         run: pip install -r requirements.txt

#       - name: Set PYTHONPATH
#         run: echo "PYTHONPATH=." >> $GITHUB_ENV
      
#       - name: Debug installed packages
#         run: pip list
        
#       - name: Run app
#         run: python app/main.py

name: Auto-merge abuse

on:
  pull_request:
    types:
      - auto_merge_enabled
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=." >> $GITHUB_ENV
      - name: Run tests
        run: pytest